# Importing pandas libraries for Data Cleaning

In [1]:
import pandas as pd

# Loading the dataset

In [3]:
df2 = pd.read_csv('2019-Nov.csv')

In [5]:
df2.head()

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-11-01 00:00:00 UTC,view,1003461,2.053010e+18,electronics.smartphone,xiaomi,489.07,520088904,4d3b30da-a5e4-49df-b1a8-ba5943f1dd33
1,2019-11-01 00:00:00 UTC,view,5000088,2.053010e+18,appliances.sewing_machine,janome,293.65,530496790,8e5f4f83-366c-4f70-860e-ca7417414283
2,2019-11-01 00:00:01 UTC,view,17302664,2.053010e+18,NaN,creed,28.31,561587266,755422e7-9040-477b-9bd2-6a6e8fd97387
3,2019-11-01 00:00:01 UTC,view,3601530,2.053010e+18,appliances.kitchen.washer,lg,712.87,518085591,3bfb58cd-7892-48cc-8020-2f17e6de6e7f
4,2019-11-01 00:00:01 UTC,view,1004775,2.053010e+18,electronics.smartphone,xiaomi,183.27,558856683,313628f1-68b8-460d-84f6-cec7a8796ef2

In [7]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 9 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   event_time     1048575 non-null  object
 1   event_type     1048575 non-null  object
 2   product_id     1048575 non-null  int64
 3   category_id    1048575 non-null  float64
 4   category_code  716498 non-null   object
 5   brand          894260 non-null   object
 6   price          1048575 non-null  float64
 7   user_id        1048575 non-null  int64
 8   user_session   1048575 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 72.0+ MB

In [8]:
print("Dimension of November dataset:",df2.shape)

Dimension of October dataset: (42448764, 9)
Dimension of November dataset: (1048575, 9)

In [10]:
df2.isnull().sum()

event_time            0
event_type            0
product_id            0
category_id           0
category_code    332077
brand            154315
price                 0
user_id               0
user_session          0
dtype: int64

# Cleaning the dataset by dropping null values

In [13]:
df2 = df2.dropna()

In [15]:
df2.isnull().sum()

event_time       0
event_type       0
product_id       0
category_id      0
category_code    0
brand            0
price            0
user_id          0
user_session     0
dtype: int64

In [16]:
print("Rechecjing Dimensions of November : ",df2.shape)

Rechecjing Dimensions of October :  (26560620, 9)
Rechecjing Dimensions of November :  (653282, 9)

In [ ]:
df2.to_csv('clean_2019+nov.csv')